* {
  margin: 0;
  padding: 0;
  border: 0;
}
html, body {
  color: aqua;
	font-family: 'PT Serif', serif;
  font-size: 100%;
  overflow-x: hidden;
  background-color: #0a0a0a;
}

.stylish{
  font-family: 'Bree Serif', serif;
}

.typo{
  font-family: 'Maven Pro', sans-serif
}

.silver{
  color: #c0c0c0;
}

.gold{
  color: #ffd700;
}

a {
  color: #00fa94;
}

.heading{
  margin-left: 2rem;
  font-family: 'Saira Stencil One', cursive;
  opacity: 0.3;
}

.wrapper {
  display: flex;
  width: 100%;
  align-items: stretch;
}

#sidebar {
  width: 250px;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  z-index: 1;
  background: rgb(122, 2, 2, 0.5);
  color: #fff;
  transition: all 0.3s;
}

#content {
  width: 100%;
}