* {
  margin: 0;
  padding: 0;
  border: 0;
}
html, body {
  color: aqua;
	font-family: 'PT Serif', serif;
  font-size: 100%;
  overflow-x: hidden;
  background-color: #0a0a0a;
}

.stylish{
  font-family: 'Bree Serif', serif;
}

.typo{
  font-family: 'Maven Pro', sans-serif
}

.silver{
  color: #c0c0c0;
}